<b>List of users</b>
<br><br>
<table border="1" cellpassing="0" cellspacing="0">
<tbody>
	<tr>
		<td><b>id</b></td>
		<td><b>user</b></td>
		<td><b>email</b></td>
		<td></td>
	</tr>
	<tr ng-repeat="user in users">
		<!--td ng-click="getUser(user.id)">{{user.id}}</td>
		<td ng-click="getUser(user.id)">{{user.user}}</td>
		<td ng-click="getUser(user.id)">{{user.email}}</td>
		<td><a ng-click="deleteUser(user.id)"">delete</a></td-->
		<td ng-click="getUser(user.id)">{{user.id}}</td>
		<td ng-click="getUser(user.id)">{{user.user}}</td>
		<td ng-click="getUser(user.id)">{{user.email}}</td>
		<td ng-click="deleteUser(user.id)"">delete</td>
	</tr>
</tbody>
</table>
